#pc1 {
    height: 400px;
    background: linear-gradient(-45deg, rgb(39, 137, 167), rgb(11, 230, 219), rgb(2, 191, 216), #23D5AB);
    background-size: 400% 400%;
    animation: change 10s ease-in-out infinite;
    position: relative;
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

#back-text {
    padding: 20px;
    top: 50px;
    color: white;
}

.head {
    font-weight: lighter;
}

#head-para {
    font-size: 5vw;
    font-weight: 300;
    color: white;
}

#stepup {
    margin: 40px;
    padding: 10px;
    font-weight: normal;
}

#phase1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    margin: 40px;
    font-weight: normal;
}

#questions {
    font-size: 20px;
    margin: 40px;
}

#pc2 {
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#card {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.container3 {
    margin: 40px
}

#phase2 {
    font-size: 22px;
    margin-bottom: 30px;
}

@media screen and (max-width: 600px) {
    #hide {
        clear: both;
        display: none;
    }
}

#pc3 {
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.phase3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin: 40px;
    font-weight: normal;
}

@media screen and (min-height: 100pc) {
    #pc2, #pc3 {
        min-height: 200px;
    }
}