nav {
    min-height: 79px;
}
nav ul li a{
    color: rgb(49, 49, 49);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding-left: 14px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: rgb(172, 230, 248);
}

i.icon-black {
    color: black;
}

img {
    height: auto;
    width: 100%;
    margin-top: 25px;
    margin-left: -60px;
    min-width: 3vw;
}